.botao{
    height: 30px;
    width: 60px;
    border: 2px solid rgb(17, 17, 73);
    background-color: gray;
    color: white;
    transition-duration: 0.5s;
}

#num1{
    height: 30px;
    width: 300px;
    border: 2px solid rgb(17, 17, 73);
}

#num2{
    height: 30px;
    width: 300px;
    border: 2px solid rgb(17, 17, 73);
}

body{
    background-color: rgb(175, 175, 175);
}